<%- include('header', { title }) -%>

<div class="grid">
  <div class="row">
    <div class="col col-1"></div>
    <div class="col col-9">
      <h1>Viðburða umsjón</h1>
      <h2>Viðburðir á næstunni</h2>

      <ul>
        <% data.events.forEach((event) => { %>
          <li class="event">
            <a href="<%= event.slug %>"><%= event.name %></a>
            <h3><%= event.description %></h3>
            <a href="#">Uppfæra viðburð</a>
          </li>
        <% }) %>
      </ul>

      <form method="post" action="/admin" enctype="application/x-www-form-urlencoded">
        <legend>Nýr viðburður</legend>
        <div class="field">
          <label for="name">Nafn*:</label>
            <input type="text" id="name" name="name" value="<%= data.title %>" class="">
        </div>

        <div class="field">
          <label for="description">Lýsing*:</label>
            <textarea type="text" name="description" value="<%= data.event %>" class=""></textarea>
        </div>
        <button>Skrá viðburð</button>
      </form>
      <hr>
      <p>Innskráður sem: <strong><%= user %></strong></p>
      <a href="<%= logout %>">Útskrá</a>
      <div class="col col-2"></div>
    </div>
  </div>
</div>

<%- include('footer') -%>
